.custom-fieldset {
    margin-bottom: 1rem;
}

.fieldset-legend {
    font-weight: 600;
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
}

.fieldset-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem 1.5rem;
    /* padding-right: 12px;  */
}

/* For right hugging fix on ultra small screens */
@media (max-width: 374px) {
    .custom-fieldset .k-input,  .custom-fieldset .k-upload {
        max-width: 100%;
        width: 90%;
    }
    .custom-fieldset .img-container{
        padding-right: 2rem;
    }

    .custom-fieldset button{
        width: 90%;
    }
}