.sub-navbar {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-bottom: 1px solid #f0f0f0;
}
.sub-navbar-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #405189;
  margin: 0.5rem 0;
}

.sub-navbar-breadcrumb a{
  font-size: 0.8rem;
  text-decoration: none;
}
